.cart-item-container {
  display: flex;
  justify-content: space-between;
  margin: 3px 10px 14px 10px;
  box-shadow: 0px 0px 14px 0px #c7c2c2;
  padding: 11px 22px;
  max-width: 1150px;
}
.cart-item-details-section {
  display: flex;
  align-items: center;
}
.cart-item-img {
  width: 80px;
  margin-right: 10px;
}
.cart-item-details {
}
.cart-item-name {
  font-weight: bold;
}
.cart-item-company {
}
.cart-item-price-delete {
  display: flex;
  align-items: center;
}
.cart-item-price {
  color: blue;
  font-weight: 500;
}
.cart-item-delete {
  margin-left: 40px;
  font-size: 25px;
  background: 0px;
  border: none;
  cursor: pointer;
}
.cart-quantity-container {
  margin-left: 20%;
}
